{% from "components.jinja" import icon %}

<a
  class="
    break-word current-color
    {% if is_external %}inline-flex{% endif %}
  "
  href="{{ url }}"
  {% if is_external %}
    target="_blank"
  {% endif %}
  {{ title|default("") }}
>
  <span>{{ body }}</span>
  {%- if is_external -%}
    {%- if external_icon -%}
      {{- icon("external-link", "opens in new tab") -}}
    {%- else -%}
      <span class="sr-only"> (opens in new tab)</span>
    {%- endif -%}
  {%- endif -%}
</a>
