{% from "components/icon_tabler.jinja" import icon_tabler %}
{% from "components/vt_name.jinja" import vt_name %}

<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <title>
      {%- if node.is_tag_index %}Tag:{% endif -%}
      {%- if node.meta_title or node.title -%}
        {{- node.meta_title or node.title }}
        - {{ site.title -}}
      {%- else -%}
        {{- site.title -}}
      {%- endif -%}
    </title>
    <link
      type="application/atom+xml"
      rel="alternate"
      href="@root/feed.xml"
      title="{{ site.title }}"
    />
    <link
      rel="preload"
      href="@root/fonts/source-sans/SourceSans3-VariableFont_wght.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="@root/fonts/smythe/Smythe-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />

    <link rel="preload" as="style" href="@root/base.min.css" />
    <link rel="stylesheet" href="@root/base.min.css" />
    <link rel="preload" as="style" href="@root/components.min.css" />
    <link rel="stylesheet" href="@root/components.min.css" />
    {% if node.meta.get("type", "") == "slide_deck" %}
      <link rel="preload" as="style" href="@root/slide_components.min.css" />
      <link rel="stylesheet" href="@root/slide_components.min.css" />
    {% endif %}
    <link rel="preload" as="style" href="@root/utilities.min.css" />
    <link rel="stylesheet" href="@root/utilities.min.css" />

    <link rel="icon" href="@root/images/favicon.svg" />
    <meta name="author" content="{{ node.author or site.default_author }}" />
    {% if inc.site_description %}
      <meta name="description" content="{{ inc.site_description|striptags }}" />
    {% else %}
      <meta
        name="description"
        content="{{ node.html|striptags|truncate(100) }}"
      />
    {% endif %}
    {{ inc.head }}
  </head>
  <body>
    {% if node.meta.get("type", "") == "slide_deck" %}
      {% include "slide_components/slide_deck.jinja" %}
    {% else %}
      {% include "components/web_page.jinja" %}
    {% endif %}
  </body>
</html>
