{% from "slide_components/slide_frame.jinja" import slide_frame %}
<!-- prettier-ignore-start -->
{% macro slide_focus() -%}
{%- set outer_caller = caller() -%}
{%- call slide_frame() -%}
<div class="slide-focus flow">

{{ outer_caller }}

</div>
{%- endcall -%}
{%- endmacro %}
<!-- prettier-ignore-end -->
