<!-- prettier-ignore-start -->
{% macro slide_columns(column1, column2) -%}
<div class="slide-columns">
<div class="flow">

{{ column1 }}

</div>
<div class="flow">

{{ column2 }}

</div>
</div>
{%- endmacro %}
<!-- prettier-ignore-end -->
