{% from "components/node_date_and_word_count.jinja" import node_date_and_word_count %}

<div class="article-in-list">
  <div class="flow flow-first-child">
    <h2 style="view-transition-name: {{ vt_name(entry, "title") }};">
      <a href="{{ entry.url }}"> {{ entry.title }} </a>
    </h2>
    {{ node_date_and_word_count(entry) }}
  </div>
</div>
