{% from "components/icon_tabler.jinja" import icon_tabler -%}

<a
  class="rendered-link"
  href="{{ url }}"
  {% if is_external %}
    target="_blank"
  {% endif %}
  {{ title|default("") }}
>
  {%- if "https://" in body -%}
    <span class="legible-link">{{ body }}</span>
  {%- else -%}
    <span>{{ body }}</span>
  {%- endif %}
  {%- if is_external -%}
    {%- if external_icon -%}
      {{- icon_tabler("external-link", "opens in new tab") -}}
    {%- else -%}
      <span class="sr-only"> (opens in new tab)</span>
    {%- endif -%}
  {%- endif -%}
</a>
