/* Colors:
From Boston map
brighter red: #D93B48
sea green: #4F8C86
tan: #D9CAAD
creme: #D9AD77
flatter red: #BF4539

From Pandey book
darker gray: #6F7372
lighter gray: #BFBFBF
(Harvard light gray: #F9F9F9)
brighter yellow: #F2B90F
orange: #F2AE2E
darker orange: #F29D35
 */


/* BODY BASICS */
body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  background-color: #F9F9F9;
 /* light gray */
  /* color: #414141; */
}

/* SKIP LINK */
.skip a {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 12px;
  background-color: white;
  z-index: .5;
}

.skip a:focus {
  top: 0;
}

/* TITLE AND NAVIGATION */
nav {
  width: 100%;
  background-color: #467c76;
}

nav a {
  color: white;
  margin: auto;
  font-size: 1.2em;
  padding: 15px;
  text-decoration: none;
  display: block;
  text-align: right;
}

nav a h1 {
  text-align: left;
  font-size: 1.4em;
  /* display: block;
  width: 100%;
  color: white;
  background-color: #467c76;
  line-height: 2em;
  padding: 15px;
  text-decoration: none; */
}

nav li:not(:first-child) a:hover {
  color: #1E1E1E;
  background-color: #F2AE2E;
}

.selected {
  color: #1E1E1E;
  background-color: #76b2ac;
}

/* CONTAINER */
.container {
  width: 100%;
}

/* SETTING BOUNDARIES ON IMAGES */
img {
  display: block;
  max-width: 100%;
}


.collection-heading {
  text-align: center;
  font-size: 2em;
  padding: 40px;
}

#profile {
  border-radius: 50%;
  max-width: 200px;
  margin: 20px auto 10px;
  display: block;
}


/* STANDARD ELEMENT STYLING */


h3 {
  font-size: .7em;
  font-weight: 700;
  font-variant: small-caps;
  font-family: 'Roboto',Arial,sans-serif;
  margin-top: 1em;
  padding: 0 10px;
}

h2 {
  grid-column: 2 / -2;
  font-size: 1.3em;
  line-height: 1.5em;
  padding: .3em 10px;
}

p {
  line-height: 1.7em;
  padding: 6pt 10px;
}

.image-credit {
  color: #6C6C6C;
  font-size: .7em;
}

.story-lead {
  padding-bottom: 0;
  margin-bottom: 1.5em;
}

.story-lead:hover {
  background-color: #F3F3F3;
}


/* GALLERY */
/* .gallery { */
  /* grid-column: 2 / -2; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.book-cover img {
  width:100%;
}

.book-cover h3 {
  font-variant: small-caps;
  padding: 15px 0 20px;
  margin: 0 0 20px;
  text-align: center;
}

.book-cover:hover {
  background-color: #F3F3F3;
}

section a, .book-cover a {
  color: #1E1E1E;
  text-decoration: none;
}

form, fieldset {
  /* grid-column: 2 / -2; */
  padding: 20px 0;
  font-family: inherit;
  line-height: 2em;
  margin: 0;
  text-align: center;
}


input, textarea {
  /* margin: 10px 0; */
  padding: 3pt;
  margin: 0 20px;
  width: 80%;
  min-width: 120px;
  max-width: 620px;
  font-size: 18px;
  text-align: left;
  border: solid 1px #C0C0C0;
  font-family: inherit;
}

.legend {
  text-align: center;
}

.label {
  font-family: 'Montserrat', serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 18px;
  width: 80%;
  min-width: 120px;
  max-width: 620px;
  margin-left: 9%;
  padding-top: 15px;
  text-align: left;
}


textarea {
  height: 8em;
}

.send button {
  margin: 30px;
  color: white;
  background-color: #BF4539;
  width: 80px;
  height: 40px;
  border: none;
  font-family: inherit;
  font-size: 18px;
}

.send button:hover {
  background-color: #F2AE2E;
  color: #1E1E1E;
}


footer {
  color: white;
  background-color: #1E1E1E;
  padding: 20px 0;
  position: relative;
  text-align: center;
  margin: auto;
  max-height: 335px;
}

.social {
  /* background-color: #F9F9F9; */
  padding: 10px 15px;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.social img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
  padding: 10px;
}

/* .cc {
  display: block;
} */

.cc {
  text-align: center;
  margin: auto;
}

.cc p {
  padding: 0 25px;
  display: inline-block;
  vertical-align: middle;
}

.cc img {
  min-width: 75px;
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;

  /* flex-grow: 3; */
}

.credits {
  padding: 10px 30px;
}

footer a {
  color: white;
}

footer p {
  font-size: 10pt;
}

@media all and (min-width: 500px) {

  nav {
    width: 100%;
  }

  nav ul {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }

  nav li, nav a {
    display: inline-block;
    margin: 0 -2px;
  }

  nav a {
    padding: 15px 18px;
    line-height: 28px;
    vertical-align: top;
  }

  nav li:not(:first-child) a {
    padding: 18px 20px 12px;
  }

  .container {
    display: grid;
    margin: auto;
    grid-template-columns: 30px auto auto 30px;
    width: 100%;
    max-width: 1000px;
  }

  .gallery-copy, .story, .collection, form {
    max-width: 680px;
  }

  .story-lead {
    grid-column: 2 / -2;
    min-height: min-content;
    padding-top: 15px;
    position: relative;
  }

  .story-lead img {
    width: 300px;
    max-width: 45vw;
    z-index: 1;
  }

  .story-lead:nth-of-type(odd) img {
    float: left;
    top: 0;
    left: 0;
    margin: 0 15px 15px 0;
  }

  .story-lead:nth-of-type(even) img {
    float: right;
    top: 0;
    right: 0;
    margin: 0 0 15px 15px;
  }

  .story-lead:nth-of-type(even) .hook {
    text-align: right;
  }

  .hook {
    position: relative;
    z-index: .5;
  }

  .story, .gallery-copy {
    grid-column: 2 / -2;
    margin: auto;
    padding: 30px 0;
  }

  .story img {
    padding-bottom: 10px;
  }

  .gallery-copy {
    padding-top: 20px;
  }

  .gallery {
    max-width: 1280px;
    grid-column: 2 / -2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
  }

  .book-cover {
    max-width: 200px;
    margin: 10px;
  }

  .book-cover img {
    border-radius: 1.5px;
    box-shadow: 1px 5px 7px 1px gray;
  }

  form, fieldset {
    grid-column: 2 / -2;
    width: 470px;
    margin: auto;
    text-align: center;
  }

  /* .social-credits {
    display: flex;
    flex-direction: row;
    align-items: center;
  } */
/*
  .social a {
    padding: 10px;
  }  */


}

@media all and (min-width: 800px) {

  .container {
    padding-bottom: 100px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  footer, .social, .cc {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
  }

  footer p {
    padding: 5px 10px;
  }

  .social a {
    width: 50px;
    margin-right: 20px;
  }

  .story {
    display: flex;
    flex-direction: row;
    align-items: top;
  }

  .container {
    grid-template-columns: 30px auto auto auto auto 30px;
  }

  .story-lead:nth-of-type(odd) {
    grid-column: 2 / -3;
  }

  .story-lead:nth-of-type(even) {
    grid-column: 3 / -2;
  }

  .container, .story {
    max-width: 1280px;
  }


  .story-photo {
    padding: 0 20px;
    min-width: 45%;
  }


/*  .story {
    max-width: 800px;
    margin: auto;
  }


  .gallery {
    max-width: 960px;
    margin: auto;
  }

  .book-cover {
    max-width: 30%;
    padding: 3% 1.5%;
    margin: inherit auto;
  }

} */
