/* Colors:
From Boston map
brighter red: #D93B48
sea green: #4F8C86
tan: #D9CAAD
creme: #D9AD77
flatter red: #BF4539

From Pandey book
darker gray: #6F7372
lighter gray: #BFBFBF
(Harvard light gray: #F9F9F9)
brighter yellow: #F2B90F
orange: #F2AE2E
darker orange: #F29D35
 */


/* BODY BASICS */
body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  background-color: #F9F9F9; /* light gray */
  /* color: #414141; */
}


/* TITLE AND NAVIGATION */
h1 a {
  display: block;
  width: 100vw;
  text-align: left;
  color: white;
  background-color: #BF4539;
  font-size: 1.5em;
  padding: 15px;
  text-decoration: none;
}

nav a {
  color: white;
  background-color: #467c76;
  text-align: center;
  margin: auto;
  font-size: 1.3em;
  padding: 15px;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: #1E1E1E;
  background-color: #F2AE2E;
}

.selected {
  color: #1E1E1E;
  background-color: #D9AD77;
}

/* CONTAINER */
.container {
  width: 100vw;
}

/* SETTING BOUNDARIES ON IMAGES */
img {
  display: block;
  max-width: 100%;
}


.collection-heading {
  text-align: center;
  font-size: 2em;
  padding: 40px;
}

#profile {
  border-radius: 50%;
  max-width: 200px;
  margin: 20px auto 10px;
  display: block;
}


/* STANDARD ELEMENT STYLING */


h3 {
  font-size: .7em;
  font-variant: small-caps;
  font-family: 'Montserrat',sans-serif;
  margin-top: 1em;
  padding: 0 10px;
}

h2 {
  grid-column: 2 / -2;
  font-size: 1.3em;
  line-height: 1.5em;
  padding: .3em 10px;
}

p {
  line-height: 1.7em;
  padding: 0 10px 5px;
}

.image-credit {
  color: #6C6C6C;
  font-size: .7em;
}

.story-lead {
  padding-bottom: 0;
  margin-bottom: 1.5em;
}

.story-lead:hover {
  background-color: #F3F3F3;
}


/* GALLERY */
/* .book-covers { */
  /* grid-column: 2 / -2; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.book-cover img {
  width:100%;
}

.book-cover h3 {
  font-variant: small-caps;
  padding: 15px 0 20px;
  margin: 0 0 20px;
  text-align: center;
}

.book-cover:hover {
  background-color: #F3F3F3;
}

section a, .book-cover a {
  color: #1E1E1E;
  text-decoration: none;
}


@media all and (min-width: 500px) {

  h1 {
    width: 34vw;
  }

  h1, h1 a {
    display: inline-block;
  }

  h1 a {
    padding: 15px;
    line-height: 28px;
    vertical-align: top;
  }

  nav {
    position: absolute;
    top: 0;
    right: 0;
  }

  nav ul {
    text-align: right;
  }

  nav, nav li, nav a {
    display: inline-block;
    text-align: right;
  }


  nav a {
    padding: 15px 20px;
    line-height: 28px;
    vertical-align: top;
    margin-right: -5px;
  }

  .container {
    display: grid;
    margin: auto;
    grid-template-columns: 30px auto auto 30px;
    width: 100vw;
    max-width: 960px;
  }

  .gallery, .story, .collection, form {
    max-width: 680px;
  }

  /* nav a {
    padding: 15px 10px;
  } */

  .story-lead {
    grid-column: 2 / -2;
    min-height: min-content;
    padding-top: 15px;
    position: relative;
    /* border-top: #6C6C6C solid 1px; */
    /* padding-top: 1em; */
  }

  .story-lead img {
    width: 300px;
    max-width: 45vw;
    z-index: 1;
  }

  .story-lead:nth-of-type(odd) img {
    float: left;
    top: 0;
    left: 0;
    margin: 0 15px 15px 0;
  }

  .story-lead:nth-of-type(even) img {
    float: right;
    top: 0;
    right: 0;
    margin: 0 0 15px 15px;
  }

  .story-lead:nth-of-type(even) .hook {
    text-align: right;
  }

  .hook {
    position: relative;
    z-index: .5;
  }

  .story {
    grid-column: 2 / -2;
    margin: auto;
    padding: 30px 0;
  }

  .story img {
    padding-bottom: 10px;
  }

  .gallery {
    padding-top: 20px;
  }

  .book-covers {
    grid-column: 2 / -2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
  }

  .book-cover {
    max-width: 215px;
    margin: 10px;
  }

  .book-cover img {
    border-radius: 1.5px;
    box-shadow: 1px 5px 7px 1px gray;
  }


}

/* @media all and (min-width: 1200px) {

  nav {
    position: relative;
  } */


  /* nav {
    max-width: 800px;
    margin: 0;
  }

  .story {
    max-width: 800px;
    margin: auto;
  }


  .book-covers {
    max-width: 960px;
    margin: auto;
  }

  .book-cover {
    max-width: 30%;
    padding: 3% 1.5%;
    margin: inherit auto;
  }

} */
