/* Colors:
From Boston map
brighter red: #D93B48
sea green: #4F8C86
tan: #D9CAAD
creme: #D9AD77
flatter red: #BF4539

From Pandey book
darker gray: #6F7372
lighter gray: #BFBFBF
(Harvard light gray: #F9F9F9)
brighter yellow: #F2B90F
orange: #F2AE2E
darker orange: #F29D35
 */


/* BODY BASICS */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #F9F9F9; /* light gray */
  color: #414141;
}

/* BASIC GRID CONTAINER */
/* .container {
  display: grid;
  margin: auto;
  width: 100vw;
  grid-template-columns: 30px auto 30px; */
  /* grid-template-rows: auto 300px auto 50px; */
}

/* HIDING BANNER IMAGE IN MOBILE */
.banner {
  display: none;
}


/* SETTING BOUNDARIES ON IMAGES */
img {
  display: block;
  max-width: 100%;
  padding-bottom: 1em;
}

.gallery {
  padding-top: 1em;
}

#profile {
  border-radius: 50%;
  max-width: 60%;
  margin: 30px auto 0;
}

/* NAVIGATION */
nav {
  /* grid-column: 1 / -1; */
  text-align: right;
  font-size: 16pt;
  background: #4F8C86;
  color: #1E1E1E;
  line-height: 1em;
}

section a, nav a {
  color: #1E1E1E;
  text-decoration: none;
}

nav a {
  display: block;
  padding: 15px 15px;
}

.hook:hover {
  background-color: #F3F3F3;
}

nav li:hover {
  background-color: #F2AE2E;
}

/* STANDARD ELEMENT STYLING */

h1 {
  /* text-align: center; */
  font-size: 1.8em;
  /* grid-column: 1 / -1; */
  padding: 12pt 10px;
}

h3 {
  font-size: .7em;
  font-variant: small-caps;
  margin-top: 1em;
  margin: 0 10px;
  display: inline-block;
}

h2 {
  font-size: 1.3em;
  line-height: 1.5em;
  padding: .3em 10px;
}

p {
  line-height: 1.7em;
  padding: 0 10px 1.5em;
}

.image-credit {
  color: #6C6C6C;
  font-size: .7em;
}



/* GALLERY */
.book-covers {
  /* grid-column: 2 / -2; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-covers img {
  width:100%
}

.book-cover {
  max-width: 100%;
  padding: 15px 0;
  display: inline-block;
}

.book-cover:hover {
  background-color: #F3F3F3;
}

.book-cover img {
  max-width: 100%;
}


@media all and (min-width: 450px) {

  .container {
    display: grid;
    margin: auto;
    width: 100vw;
    grid-template-columns: 50px auto auto 50px;
  }

  nav {
    grid-column: 1 / -1;
  }

  nav li {
    display: inline-block;
    padding: 20px;
  }


  .story-lead {
    margin-bottom: 1.5em;
    display: flex;
    /* border-top: #6C6C6C solid 1px; */
    /* padding-top: 1em; */
  }

  .story-lead:nth-of-type(odd) {
    flex-direction: row;
  }

  .story-lead:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .story-lead img {
    width: 100%;
  }


  .book-cover {
    max-width: 47%;
    padding: 3% 1.5%;
    margin: inherit auto;
  }

}

@media all and (min-width: 1200px) {

  nav {
    max-width: 800px;
    margin: auto;
  }

  .story {
    max-width: 800px;
    margin: auto;
  }

  .book-covers {
    max-width: 960px;
    margin: auto;
  }

  .book-cover {
    max-width: 30%;
    padding: 3% 1.5%;
    margin: inherit auto;
  }

}
